/* Universal Selector*/

* {
  margin: 0;
  padding: 0;
}


/*Nav Bar*/

.navdiv {
  height: 70px;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  position: fixed;
  backdrop-filter: blur(20px);
}


.ndl {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ndr {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.ndr a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 2px solid #00ffff;
  border-radius: 19px;
  
  
}




/*Body*/

body {
  height: 100vh;
  width: 100vw;
  background-image: url("bgpic1.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  color: white;
  
    
}


.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypic {
  margin-top: 15%;
  height: 200px;
  z-index: -1;
  backdrop-filter: blur(5px);
  border-radius: 100%;
  background-position: center;
}


.info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}



.lg {
  background: linear-gradient(to right, #00fa00, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


.skills {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.skillset {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icon {
  height: 40px;
  background: white;
  padding: 5px;
  border-radius: 6px;
}


.sapl {
  height: 2px;
  width: 200px;
  border-top: 2px solid white;
  border-radius: 50px;
}

.hl {
  height: 4px;
  width: 300px;
  border-top: 5px solid white;
}

hr {
  width: 80%;
  margin-left: 10%;
}


.contact {
  width: 100vw;
}

.cnt {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconx {
  height: 30px;
  background: white;
  padding: 5px;
  border-radius: 7px;
}


.ict {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ict1 {
  display: flex;
  align-items: center;
  backdrop-filter: blur(50px);
  
}

.h3 {
  box-shadow: 0px 0px 10px 5px blue;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
}


@media (min-width: 503px) {
  .ict {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
}

 .services {
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
 }

.service {
  margin-top: 5%;
}



p {
  color: white;
  margin-top: 250px;
}

.ftr {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

}